@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "basecoat-css";

/* Custom Colors & Fonts */
@theme {
  --color-pfblue: #0a1e3f;
  --font-family-sans: "Fira Sans Condensed", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}









.bg-pattern {
  background-image: url('/pattern.webp');
  background-position: center;
}




/* https://tweakcn.com/editor/theme?tab=other */

:root {
  --background: oklch(0.9818 0.0057 308.3964);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9495 0.0255 288.3243);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.4214 0.1804 315.5176);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6447 0.2417 305.5792);
  --secondary-foreground: oklch(0.4214 0.1804 315.5176);
  --muted: oklch(0.8271 0.0996 299.9549);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.5670 0.2405 280.5137);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.6384 0.2373 21.9475);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4214 0.1804 315.5176);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.5048 0.2305 317.1223);
  --chart-1: oklch(0.6078 0.2787 307.5208);
  --chart-2: oklch(0.3252 0.2167 268.1664);
  --chart-3: oklch(0.3864 0.2414 275.7412);
  --chart-4: oklch(0.7566 0.1612 307.0513);
  --chart-5: oklch(0.5670 0.2405 280.5137);
  --sidebar: oklch(0.8540 0.0962 309.5503);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.9638 0.0232 310.7105);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9638 0.0232 310.7105);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9537 0.0371 321.7948);
  --sidebar-ring: oklch(0.8703 0.0661 288.7640);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #d15167;
  --shadow-2xs: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 1.00), 3px 1px 2px -1px hsl(349.6875 58.1818% 56.8627% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 1.00), 3px 1px 2px -1px hsl(349.6875 58.1818% 56.8627% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 1.00), 3px 2px 4px -1px hsl(349.6875 58.1818% 56.8627% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 1.00), 3px 4px 6px -1px hsl(349.6875 58.1818% 56.8627% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 1.00), 3px 8px 10px -1px hsl(349.6875 58.1818% 56.8627% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(349.6875 58.1818% 56.8627% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2184 0.0427 268.7536);
  --foreground: oklch(0.9289 0.0175 13.1124);
  --card: oklch(0.2601 0.0409 269.3621);
  --card-foreground: oklch(0.9289 0.0175 13.1124);
  --popover: oklch(0.2601 0.0409 269.3621);
  --popover-foreground: oklch(0.9289 0.0175 13.1124);
  --primary: oklch(0.9623 0.1060 113.3846);
  --primary-foreground: oklch(0.2184 0.0427 268.7536);
  --secondary: oklch(0.7954 0.0669 31.4487);
  --secondary-foreground: oklch(0.2184 0.0427 268.7536);
  --muted: oklch(0.2633 0.0130 285.4750);
  --muted-foreground: oklch(0.7954 0.0669 31.4487);
  --accent: oklch(0.6675 0.0902 22.3565);
  --accent-foreground: oklch(0.9289 0.0175 13.1124);
  --destructive: oklch(0.6546 0.1657 15.1726);
  --destructive-foreground: oklch(0.2184 0.0427 268.7536);
  --border: oklch(0.3510 0.0581 275.1520);
  --input: oklch(0.2770 0.0421 270.0191);
  --ring: oklch(0.6029 0.0935 246.8825);
  --chart-1: oklch(0.6029 0.0935 246.8825);
  --chart-2: oklch(0.7954 0.0669 31.4487);
  --chart-3: oklch(0.6675 0.0902 22.3565);
  --chart-4: oklch(0.3520 0.0959 257.8003);
  --chart-5: oklch(0.2633 0.0130 285.4750);
  --sidebar: oklch(0.2016 0.0389 271.3911);
  --sidebar-foreground: oklch(0.9650 0.0040 286.3249);
  --sidebar-primary: oklch(0.6387 0.1996 19.9112);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8133 0.0965 9.7074);
  --sidebar-accent-foreground: oklch(0.2520 0.0450 282.6922);
  --sidebar-border: oklch(0.3485 0.0451 283.8163);
  --sidebar-ring: oklch(0.6387 0.1996 19.9112);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #323859;
  --shadow-2xs: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(230.7692 28.0576% 27.2549% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 1.00), 3px 1px 2px -1px hsl(230.7692 28.0576% 27.2549% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 1.00), 3px 2px 4px -1px hsl(230.7692 28.0576% 27.2549% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 1.00), 3px 4px 6px -1px hsl(230.7692 28.0576% 27.2549% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 1.00), 3px 8px 10px -1px hsl(230.7692 28.0576% 27.2549% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(230.7692 28.0576% 27.2549% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}